//
//  Secrets.xcconfig
//  MovieFlix
//
//  Created by Emre Simsek on 6.10.2025.
//

// Configuration settings file format documentation can be found at:

API_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3MGRkMzhmYTdmNjZkYzc4ZjFlMzFmMjgzODQ3MjExMSIsIm5iZiI6MTcyMzY2NjM2NS4zNywic3ViIjoiNjZiZDBmYmQzOTIzY2VmODNhZDA1ODNkIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.TDLVL-IptEYIWotrcExHMNsp-FXpFDGv0ah834PN-Zw
